body {
    background-color: black;
}



.game {
    margin: 0 auto;
    width: 800px;
    height: 600px;
    background: url(background.jpg);
    position: relative;
}

.game-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .game .player {
    position: absolute;
    margin-left: -20px;
    width: 40px;
  }