html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font: 16px sans-serif;
  position: relative;
  transform: scale(1);
  background-color: black;

}

.wrap {


  background: url(arcade.png);
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: 100% 100%;
  height: 120vh;
  width: 50%;
  overflow: hidden;
  margin: 0 auto;
}



header {
  text-align: center;
  background: black;
  color: #fff;
  padding: 10px;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 11px;
  background: black;
  color: white;
}

.game-wrapper {
  width: calc(100% - 200px);
  margin: 0 auto;
  height: 100%;
  position: relative;
  /* border: 10px solid yellow; */

}

/* .score {
  position: absolute;
  z-index: 10;
  height: 100px;
  width: 1000px;
  top: 50px;
  left: 0px;
  transform: 0px, 0px;
  color: red;
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
} */

.background {
  position: relative;
  height: 100%;
  width: 120%;
  z-index: -3;
  background-image: url('background.jpg');
  background-size: cover;
  animation: scroll-background 10s linear infinite;
  /* border: 10px solid blue; */

}

.pause{
  font: 10px 'Press Start 2p';
  color: yellow;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  animation: pop-in 1s;
  
}
.welcome{
  font: 10px 'Press Start 2p';
  color: yellow;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
}

.instructions {
  font: 10px 'Press Start 2p';
  color: yellow;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 55%;
  
}


.game {
  /* border: 10px solid pink; */
  height: 120%;
  width: calc(100% + 100px);
  position: relative;
  top: 0;
  left: -125px;
  z-index: -2;
  transform: scale(0.7);
  display: flex;
  padding: 0px;
  /* border: 10px solid red; */
}


@keyframes scroll-background {
  from {background-position-y: 675px;}
  to {background-position-y: 0px;}
}


.game .enemy {
  position: absolute;
  margin-top: -18px;
  width: 60px;
  z-index: 90;

}

.game .player {
  position: absolute;
  width: 80px;
  z-index: 12;
  background-size: 100% auto;
  background-repeat: no-repeat;

}

.game .rock {
  position: absolute;
  width: 110px;
}


.lazer {
  position: absolute;
  z-index: 10;
  animation: lazerUp 1s forwards;

}

.game .enemy {
  animation-delay: 1s;
  z-index: 10;
  animation: enemyMove 10s infinite, enemyMoveDown 5s infinite;
  background-size: 100% auto;
}

.enemyLazer {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  top: 70%;
  animation: lazerDown 2s forwards;
}

.congratulations {
  display: none;
  position: absolute;
  z-index: 999;
  background: #19A15F;
  color: white;
  padding: 0px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Press Start 2P';
  font-size: 70%;
}

.game-over {
  display: none;
  position: absolute;
  z-index: 999;
  background: #B30000;
  color: white;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Press Start 2P';
  
}

.btn {
  border: 2px solid #36bbf5;
  border-radius: 3px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    to bottom,
    #fff 0%,
    #fff 49%,
    #f5f5f5 50%,
    #eee 100%
  );
  padding: 10px 40px;
  font-family: 'Press Start 2P', cursive;
}



@keyframes enemyMove {
  0% { left: -175px }
  50% { left: 125px}
  100% {left: -175px}
}

@keyframes enemyMoveDown {
  0% {top: -200px}
  50% {top: -130px}
  100% {top: -200px}
}

@keyframes lazerUp {
  0% {top: 0px;}
  100% {top: -1000px;}
}

@keyframes lazerDown {
  0% {}
  100% {top: 1000px}
}
.paused{
  animation-play-state: paused;
}


.hide {
  display: none;
}