html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font: 16px sans-serif;
  position: relative;
  transform: scale(1);
  background-color: black;
  
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: url(arcade.png);
  background-size: 118vh;
  background-repeat: no-repeat;
  background-position: center 20%;  
   /* background-position: 390px -50px; */
}

header {
  text-align: center;
  background: black;
  color: #fff;
  padding: 10px;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 11px;
  background: black;
  color: white;
}

.game-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;  
  
}

.game {
  width: 1100px;
  height: 1000px;
  position: relative;
  display: flex;  
  z-index: -2;
  transform: scale(0.8);
  top: 200px;
  
}

.canvas {
    position: relative;
    align-self: center;

    
}

.game .enemy {
  position: absolute;
  margin-left: -20px;
  margin-top: -18px;
  width: 60px;
}

.game .player {
  position: absolute;
  margin-left: -20px;
  width: 80px;
  z-index: 11;
}

.game .rock1 {
  position: absolute;
  /* margin-left: -20px; */
  width: 110px;
}
.game .rock2 {
  position: absolute;
  /* margin-left: -20px; */
  width: 110px;
}
.game .rock3 {
  position: absolute;
  /* margin-left: -20px; */
  width: 110px;
}
.rock4 {
  position: absolute;
  /* margin-left: -20px; */
  width: 110px;
}

.lazer {
  position: absolute;
  z-index: 10;
  animation: lazerUp 1s forwards;
}

.enemy {
  /* animation: enemyMove 5s infinite, enemyMoveDown 10s infinite; */
}

.enemyLazer {
  position: absolute;
  z-index: 10;
  /* animation: lazerDown 3s forwards; */
}




@keyframes enemyMove {
  0% {left : -180px}
  50% {left : 400px} 
  100% {left : -180px} 
} 

@keyframes enemyMoveDown {
  0% {top : 0px}
  50% {top : 100px} 
  100% {top : 0px} 
} 

@keyframes lazerUp {
  0% {top : -40px; left: 15px   }
   100% {top  : -1000px} 
}  

@keyframes lazerDown {
  0% {top : 100px;   }
   100% {top  : 1000px} 
}  




