html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font: 16px sans-serif;
  position: relative;
  transform: scale(1);
  background-color: black;

}

.wrap {

  
  background: url(arcade.png);
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: 100% 120%;
  height: 100vh;
  max-width: 1024px;
  overflow: hidden;
  margin: 0 auto;
}



header {
  text-align: center;
  background: black;
  color: #fff;
  padding: 10px;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 11px;
  background: black;
  color: white;
}

.game-wrapper {
  width: calc(100% - 200px);
  margin: 0 auto;
  height: 100%;
  position: relative;  
}  

/* .score {
  position: absolute;
  z-index: 10;
  height: 100px;
  width: 1000px;
  top: 50px;
  left: 0px;
  transform: 0px, 0px;
  color: red;
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
} */

.background {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: -3;
  background-image: url('background.jpg');
  background-size: cover;
  animation: scroll-background 10s linear infinite;

}

.game {
  /* border: 10px solid pink; */
  height: 120%;
  width: 100%;
  position: relative;
  top: 0;
  z-index: -2;
  transform: scale(0.8);
  display: flex;
  padding: 0px;
  

}


@keyframes scroll-background {
  from {background-position-y: 675px;}
  to {background-position-y: 0px;}
}


.game .enemy {
  position: absolute;
  margin-top: -18px;
  width: 60px;
  z-index: 90;
  
}

.game .player {
  position: absolute;
  width: 80px;
  z-index: 12;
  background-size: 100% auto;
  background-repeat: no-repeat;

}

.game .rock {
  position: absolute;
  width: 110px;
}


.lazer {
  position: absolute;
  z-index: 10;
  animation: lazerUp 1s forwards;

}

.game .enemy {
  animation-delay: 1s;
  z-index: 10;
  animation: enemyMove 10s infinite, enemyMoveDown 5s infinite;
  background-size: 100% auto;
}

.enemyLazer {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  top: 70%; 
  animation: lazerDown 2s forwards;
}




@keyframes enemyMove {
  0% { left: -200px }
  50% { left: 180px}
  100% {left: -200px}
}

@keyframes enemyMoveDown {
  0% {top: -75px}
  50% {top: 25px}
  100% {top: -75px}
}

@keyframes lazerUp {
  0% {top: 0px;}
  100% {top: -1000px;}
}

@keyframes lazerDown {
  0% {}
  100% {top: 1000px}
}